# Dependency directory
node_modules

# Local environment variables
.env

# Truffle build directory
build/

# Hardhat
cache/
artifacts/

# OpenZeppelin development artifacts
.openzeppelin/*
!.openzeppelin/mainnet.json
